<ion-view view-title="Dashboard" class="screen_Dashboard">
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh=""></ion-refresher>
		<div class="item item-input custom-search">
			<label class="item-input-wrapper">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search by Vendor - PO# - Products" ng-model="">
			</label>
			<button class="button ion-close input-button button-small"></button>
		</div>
    <div class="item">dashboard</div>
	</ion-content>
</ion-view>
